html
	head
		title Michael LaPlante
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_32x32.png")
		link(rel="icon" type="image/png" sizes="24x24" href="/assets/images/favicon_24x24.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_16x16.png")
		link(href="http://fonts.googleapis.com/css?family=Oxygen:300,700,400" rel="stylesheet" type="text/css")
		link(rel="stylesheet" type="text/css" href="/css/style.css")
		link(rel="stylesheet" type="text/css" href="/css/media.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.2.0/trianglify.min.js")
		script(src="/js/stats.js")
		script(src="/js/three.min.js")

		//each shader in shaders
			!= shader

		script(src="/js/gl.js")
		script(src="/js/main.js")
	body
		#header_block
		#header
			#nav.no_select
				#nav_slider
				#nav_logo ML
				#nav_divider
				#nav_skills.nav_link Skills
				#nav_lab.nav_link Lab
				#nav_photo.nav_link Photo
				#nav_contact.nav_link Contact
		#intro_wrapper
			canvas#intro_canvas
			#intro
				h3#intro_message_1 My name is
				h1#intro_message_2 Michael LaPlante
				h3#intro_message_3 I am a front end software engineer from California and I love creating engaging interactive experiences
		#skills_wrapper
			#skills_bg_div
			#skills
				h2 Skills
				#skills_table
					#skills_names
						ul
							each skill in data.skills
								li
									h4= skill.name
					#skills_bars
						ul
							each bar, index in data.skills
								-var tagString = "";
								li(style="width: " + bar.level + "%;")
									.skills_bar
										each project in data.projects
											each tag in project.tags
												if tag.name === data.skills[index].name
													if (tagString == "")
														-tagString = project.name;
													else
														-tagString += ", " + project.name;
										h5.skills_tags=tagString

				h2 More
				#skills_more
					ul
						each skill in data.more
							li
								h5.skills_minor=skill.name

		#lab_wrapper
			#lab
				#lab_nav
				#lab_nav_mobile
				#lab_slider
					each project in data.projects
						.lab_project
							.lab_image
							.lab_info
								h3=project.name
								.lab_divider
								.lab_tags
									each tag in project.tags
										.lab_tag=tag.name
								p=project.desc
								a(href=project.href).lab_link=project.linkDesc

		#photo_wrapper
			#photo
				p Photo
		#contact_wrapper
			#contact
				p Contact